In [27]:
# import all relevant libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import seaborn as sns
sns.set()
sns.set_style("white")
sns.set_palette("GnBu_d")

In [28]:
bike_rental = pd.read_csv("baywheels_2019")
bike_rental.head(10)

/Users/phuongkhanh/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3,4,5,6,7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
0,0,2019-10-28 09:46:47,2019-10-28 09:51:05,50.0,37.780526,-122.390288,453.0,37.777934,-122.396973,12424.0
1,1,2019-08-10 19:31:02,2019-08-10 19:35:05,285.0,37.783521,-122.431158,74.0,37.776435,-122.426244,1718.0
2,2,2019-05-27 13:18:58,2019-05-27 13:46:37,10.0,37.795393,-122.40477,399.0,37.802636,-122.436289,608.0
3,3,2019-07-24 22:47:58,2019-07-24 22:52:48,106.0,37.763242,-122.430675,72.0,37.772406,-122.43565,551642.0
4,4,2019-04-28 17:26:22,2019-04-28 17:31:54,80.0,37.775235,-122.397437,50.0,37.780526,-122.390288,1103.0
5,5,2019-04-17 19:39:05,2019-04-17 19:49:26,100.0,37.7671,-122.410662,74.0,37.776435,-122.426244,1473.0
6,6,2019-02-26 08:11:01,2019-02-26 08:22:58,67.0,37.776639,-122.395526,8.0,37.799953,-122.398525,4984.0
7,7,2019-02-02 09:23:15,2019-02-02 09:34:20,44.0,37.781074,-122.411738,55.0,37.777053,-122.429558,2666.0
8,8,2019-05-07 12:08:01,2019-05-07 12:12:00,9.0,37.798572,-122.400869,6.0,37.80477,-122.403234,1961.0
9,9,2019-09-04 21:58:19,2019-09-04 22:09:07,86.0,37.769305,-122.426826,39.0,37.778999,-122.436861,9717.0

In [61]:
def get_date(ts):
    return ts.date()

def get_weekday(ts):
    return ts.weekday()

def get_hour(ts):
    return ts.hour

In [59]:
#bike_rental.isna().sum()
#bike_rental[bike_rental['start_station_id'].isna()]

bk = bike_rental.sort_values(by = ['bike_id', 'start_time'])
bk.head(10)

,Unnamed: 0,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
315417,315417,2013-04-06 18:24:01,2019-02-11 10:30:26,92.0,37.773503,-122.402113,258.0,37.779629,-122.40988,1.0
1590064,1590064,2013-05-03 11:09:57,2019-05-23 20:25:53,395.0,37.778562,-122.415787,424.0,37.789803,-122.440438,1.0
820394,820394,2013-06-11 20:19:55,2019-01-30 14:08:55,436.0,37.87031,-122.409794,398.0,37.332074,-122.4335,1.0
1052707,1052707,2013-06-19 21:12:10,2019-02-01 11:24:22,195.0,37.791826,-122.41004,453.0,37.301722,-122.412695,1.0
2482847,2482847,2019-11-28 14:59:39,2019-11-28 15:01:56,408.0,37.718027,-122.387862,408.0,37.718027,-122.387862,4.0
82570,82570,2013-06-27 19:03:04,2019-05-01 09:04:36,380.0,37.763572,-122.398673,251.0,37.764245,-122.396773,5.0
1037651,1037651,2013-07-26 23:05:37,2019-09-27 21:20:42,408.0,37.842023,-122.274082,295.0,37.778959,-122.255447,5.0
1790211,1790211,2013-10-16 14:25:04,2019-10-22 13:16:30,131.0,37.840978,-122.302756,269.0,37.760468,-121.894688,5.0
1776459,1776459,2013-07-09 09:51:50,2019-04-21 12:15:00,228.0,37.778921,-121.870411,26.0,37.765213,-122.413624,7.0
84754,84754,2019-01-02 20:15:13,2019-01-02 20:40:58,155.0,37.840521,-122.293528,200.0,37.800214,-122.25381,11.0

In [67]:
bike_rental_clean1=bike_rental.drop(bike_rental[bike_rental.start_time == 'Failure'].index, inplace=False)
# bike_rental_clean1.info
bike_rental_clean2=bike_rental.drop(bike_rental[bike_rental_clean1.start_station_lat == 'Failure'].index, inplace=False)
bike_rental_clean2.info

<bound method DataFrame.info of          Unnamed: 0           start_time             end_time  \
0                 0  2019-10-28 09:46:47  2019-10-28 09:51:05
1                 1  2019-08-10 19:31:02  2019-08-10 19:35:05
2                 2  2019-05-27 13:18:58  2019-05-27 13:46:37
3                 3  2019-07-24 22:47:58  2019-07-24 22:52:48
4                 4  2019-04-28 17:26:22  2019-04-28 17:31:54
...             ...                  ...                  ...
2506998     2506998  2019-04-12 19:11:48  2019-04-12 19:17:34
2506999     2506999  2019-07-16 19:02:32  2019-07-16 19:06:54
2507000     2507000  2019-05-29 16:03:26  2019-05-29 16:09:25
2507001     2507001  2019-08-19 08:32:17  2019-08-19 08:41:26
2507002     2507002  2019-04-02 17:00:36  2019-04-02 17:06:28

        start_station_id start_station_lat start_station_lon end_station_id  \
0                   50.0         37.780526       -122.390288          453.0
1                  285.0         37.783521       -122.431158           74.0
2                   10.0         37.795393        -122.40477          399.0
3                  106.0         37.763242       -122.430675           72.0
4                   80.0         37.775235       -122.397437           50.0
...                  ...               ...               ...            ...
2506998            109.0         37.763316       -122.421904          381.0
2506999             58.0         37.776619       -122.417385            5.0
2507000             23.0         37.791464       -122.391034           15.0
2507001             23.0         37.791464       -122.391034          364.0
2507002             64.0         37.776754       -122.399018            3.0

        end_station_lat end_station_lon   bike_id
0             37.777934     -122.396973   12424.0
1             37.776435     -122.426244    1718.0
2             37.802636     -122.436289     608.0
3             37.772406      -122.43565  551642.0
4             37.780526     -122.390288    1103.0
...                 ...             ...       ...
2506998       37.758238     -122.426094    6118.0
2506999       37.783899     -122.408445    1479.0
2507000       37.795392     -122.394203    1742.0
2507001          37.772      -122.38997   10107.0
2507002       37.786375     -122.404904    5359.0

[2506993 rows x 10 columns]>

<bound method DataFrame.info of          Unnamed: 0           start_time             end_time  \
0                 0  2019-10-28 09:46:47  2019-10-28 09:51:05
1                 1  2019-08-10 19:31:02  2019-08-10 19:35:05
2                 2  2019-05-27 13:18:58  2019-05-27 13:46:37
3                 3  2019-07-24 22:47:58  2019-07-24 22:52:48
4                 4  2019-04-28 17:26:22  2019-04-28 17:31:54
...             ...                  ...                  ...
2506998     2506998  2019-04-12 19:11:48  2019-04-12 19:17:34
2506999     2506999  2019-07-16 19:02:32  2019-07-16 19:06:54
2507000     2507000  2019-05-29 16:03:26  2019-05-29 16:09:25
2507001     2507001  2019-08-19 08:32:17  2019-08-19 08:41:26
2507002     2507002  2019-04-02 17:00:36  2019-04-02 17:06:28

        start_station_id start_station_lat start_station_lon end_station_id  \
0                   50.0         37.780526       -122.390288          453.0
1                  285.0         37.783521       -122.431158           74.0
2                   10.0         37.795393        -122.40477          399.0
3                  106.0         37.763242       -122.430675           72.0
4                   80.0         37.775235       -122.397437           50.0
...                  ...               ...               ...            ...
2506998            109.0         37.763316       -122.421904          381.0
2506999             58.0         37.776619       -122.417385            5.0
2507000             23.0         37.791464       -122.391034           15.0
2507001             23.0         37.791464       -122.391034          364.0
2507002             64.0         37.776754       -122.399018            3.0

        end_station_lat end_station_lon   bike_id
0             37.777934     -122.396973   12424.0
1             37.776435     -122.426244    1718.0
2             37.802636     -122.436289     608.0
3             37.772406      -122.43565  551642.0
4             37.780526     -122.390288    1103.0
...                 ...             ...       ...
2506998       37.758238     -122.426094    6118.0
2506999       37.783899     -122.408445    1479.0
2507000       37.795392     -122.394203    1742.0
2507001          37.772      -122.38997   10107.0
2507002       37.786375     -122.404904    5359.0

[2506993 rows x 10 columns]>

In [54]:
print(type(bike_rental["start_station_lat"][0]))

<class 'float'>

AttributeError: 'str' object has no attribute 'date'

In [62]:
bike_rental["start_time"].dtypes

dtype('O')

In [46]:
bike_rental.sort_values(by=['bike_id', 'start_time'])

,Unnamed: 0,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
315417,315417,2013-04-06 18:24:01,2019-02-11 10:30:26,92.0,37.773503,-122.402113,258.0,37.779629,-122.40988,1.0
1590064,1590064,2013-05-03 11:09:57,2019-05-23 20:25:53,395.0,37.778562,-122.415787,424.0,37.789803,-122.440438,1.0
820394,820394,2013-06-11 20:19:55,2019-01-30 14:08:55,436.0,37.87031,-122.409794,398.0,37.332074,-122.4335,1.0
1052707,1052707,2013-06-19 21:12:10,2019-02-01 11:24:22,195.0,37.791826,-122.41004,453.0,37.301722,-122.412695,1.0
2482847,2482847,2019-11-28 14:59:39,2019-11-28 15:01:56,408.0,37.718027,-122.387862,408.0,37.718027,-122.387862,4.0
...,...,...,...,...,...,...,...,...,...,...
1558857,1558857,Failure,Failure,Failure,Failure,Failure,Failure,Failure,Failure,Failure
1676023,1676023,Failure,Failure,Failure,Failure,Failure,Failure,Failure,Failure,Failure
1697405,1697405,Failure,Failure,Failure,Failure,Failure,Failure,Failure,Failure,Failure
1999499,1999499,Failure,Failure,Failure,Failure,Failure,Failure,Failure,Failure,Failure
2249494,2249494,Failure,Failure,Failure,Failure,Failure,Failure,Failure,Failure,Failure